html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%; 
    overflow-y: auto; 
    padding-top: 4.375rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navbar .navbar-brand {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
}

.inline-menu {
    display: none;
    gap: 1rem; 
    justify-content: center;
    align-items: center;
}

.inline-menu a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: 0.125rem solid #007bff;
    border-radius: 0.3125rem;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.inline-menu a:hover {
    background-color: #0056b3;
    border-color: #003f7f;
}

/* Small Screens: Display Side Menu */
@media (max-width: 1000px) {
    #menuButton {
        display: block;
    }

    .side-menu {
        position: fixed;
        top: 0;
        left: -15.625rem;
        width: 15.625rem;
        height: 100%;
        background-color: #007bff;
        color: white;
        transition: left 0.3s;
        padding-top: 5rem;
        z-index: 20;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .side-menu ul {
        list-style: none;
        padding: 0;
        width: 100%;
        margin: 0;
    }
    
    .side-menu li {
        width: 100%;
        text-align: center;
    }
    
    .side-menu a {
        display: inline-block;
        width: 80%;
        padding: 0.75rem 0;
        margin: 0.125rem 0;
        background-color: #ffffff;
        color: #007bff;
        text-decoration: none;
        border: 0.125rem solid #007bff;
        border-radius: 0.3125rem;
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.3s ease;
    }
    
    .side-menu a:hover {
        background-color: #007bff; 
        color: white; 
        border-color: #0056b3;
        cursor: pointer;
    }
    
    .side-menu a:active {
        transform: scale(0.98); 
    }

    .inline-menu {
        display: none;
    }
}

/* Large Screens: Display Inline Buttons */
@media (min-width: 62.5em) {
    #menuButton {
        display: none;
    }

    .side-menu {
        display: none;
    }

    .inline-menu {
        display: flex;
    }
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-content {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem; 
    text-align: center;
    width: 80%;
    max-width: 25rem;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.button-group button {
    width: 100%;
    height: 3.125rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}

#copyButton {
    margin-top: 1rem;
}

#whatsappButton {
    background-color: #25D366;
    color: white;
}

#whatsappButton:hover {
    background-color: #128C7E;
}

.fas, .fab {
    margin-right: 0.5rem; 
}

.menu-open {
    left: 0;
}

button {
    padding: 0.625rem 1.25rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1rem;
    cursor: pointer;
}

#video-container {
    position: relative;
    object-fit: contain;
    width: 90%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 1;
    display: none;
}

#video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; /* Display over video */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay-text {
    font-size: 1.5rem;
}

#canvas {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 2; /* Display canvas over video */
    display: none;
}

#feedback {
    margin-top: 0.625rem;
    font-size: 1.125rem;
    color: #333;
}

/* Animation for taking picture */
@keyframes flash {
    0% { background-color: rgba(255, 255, 255, 0); }
    50% { background-color: rgba(255, 255, 255, 1); }
    100% { background-color: rgba(255, 255, 255, 0); }
}

#captureAnimation {
    display: none;
    animation: flash 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#weather-container {
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    margin: 0 auto;
    width: 100%; 
    overflow: hidden;
}
  
#weather-toggle-button {
    background-color: #007BFF;
    border-radius: 0.625rem;
    width: 3.125rem;
    height: 3.125rem;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: none;
    z-index: 10;
}

#weather-toggle-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

#weather-toggle-button img {
    width: 100%;  
    height: 100%; 
    object-fit: contain;  
    transform: scale(2.2); 
    transform-origin: center; 
    transition: transform 0.3s ease; 
}

#weather-toggle-button:focus {
    outline: none; 
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.2);
}

#hourly-forecast {
    display: flex;
    gap: 0.5rem; 
    padding: 0.5rem; 
    overflow-x: auto;
    justify-content: flex-start;;
    scroll-padding: 0.5rem; 
}

.forecast-item {
    flex: 0 0 auto;
    width: 7.5rem;
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    background-color: #f0f0f0;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.forecast-item:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.3125rem);
}

.forecast-item.active {
    background-color: #007BFF;
    color: white;
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.4);
}

.forecast-item h3 {
    margin: 0;
    font-size: 1rem;
}

.forecast-item span {
    display: block;
    margin-top: 0.3125rem;
    font-size: 0.85em;
}

#feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3125rem;
}

.bot-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}

.bot-icon {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
}

.bubble {
    background-color: #28a745;
    color: white;
    border-radius: 0.9375rem;
    padding: 0.9375rem 1.5625rem;
    margin-left: 0.625rem;
    min-width: 6.25rem; 
    max-width: 100%;
    width: fit-content; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    animation: bubbleAnimation 0.5s ease-out;
}

button#retryButton {
    margin-left: 0.625rem;
}

@keyframes bubbleAnimation {
    0% {
        transform: translateY(-1.25rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
